/* Variables */
:root{
    /* Font Weight */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    --extraBold: 800;

    /* Font Size */
    --fs-1: 18px;
    --fs-2: 20px;
    --fs-3: 22px;
    --fs-4: 24px;
    --fs-5: 30px;
    --fs-6: 36px;
    --fs-7: 60px;

    /* Primary Color */
    --pc-100: #C6EDAB ;
    --pc-200: #8CDA3E ;
    --pc-300: #94D539 ;
    --pc-400: #9ED926 ;
    --pc-500: #98CF28 ;
    --pc-600: #7EAB21 ;
    --pc-700: #77A21F ;
    --pc-800: #33470A ;
    --pc-900: #32450C ;

     /* Gray Color */
    --gc-100: #F5F7FA ;
    --gc-200: #E4E7EB ;
    --gc-300: #CBD2D9 ;
    --gc-400: #9AA5B1 ;
    --gc-500: #7B8794 ;
    --gc-600: #616E7C ;
    --gc-700: #52606D ;
    --gc-800: #3E4C59 ;
    --gc-900: #323F4B ;
    --gc-1000: #1F2933 ;

    /* Secondary Color */
    --sc-100: #EB7085 ;
    --sc-300: #DD3C58 ;
    --sc-500: #CF2845 ;
    --sc-900: #A21F36 ;
  
}